---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import srcImage from '../assets/lerr3.jpg';

---

<Layout title="Welcome to Astro.">
	<main>
	<section class="w-full lg:w-[740px] mx-auto py-44">
		<img src={srcImage.src} class='rounded-full w-14 h-14 mb-5' alt="ler-photo"/>
		<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-12">Hey, soy lerrman <a 
			href="https://www.linkedin.com/in/luis-el%C3%ADas-rodriguez-a03a6326a/"
			target="_blank" 
			rel="noopener" 
			class="flex justify-center items-center"></a>
		     <div class="flex justify-center items-center"><Badge> Disponible para trabajar</Badge></div> </h1>
		<h2 class="text-2xl font-light text-wrap">Sobrada experiencia como <span class="text-yellow-400 ">Creador Fotogr치fico y Desarrollador web</span> . De <span class="opacity-70">Caracas, Venezuela</span>  游游 . Altamente capacitado en la creaci칩n de impactantes im치genes que har치n crecer exponencialmente su aplicaci칩n web.</h2>

		<ul></ul>
	</section>
</main>
</Layout>


